:root {
  --color-background: #0f1729;
  --color-foreground: #e1e7ef;
  --color-muted: #1b294b;
  --color-muted-foreground: #94a3b8;
  --color-secondary: #20325a;
  --color-card: #131c34;
  --color-card-foreground: #e1e7ef;
  --color-border: #1c2b4f;
  --color-slate-300: oklch(86.9% 0.022 252.894);
  --spacing: 0.25rem;
  --radius: 0.625rem;
  --radius-2xl: 1rem;
  --blur-sm: 8px;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background) !important;
  color: var(--color-foreground) !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-foreground) !important;
}

p {
  color: var(--color-muted-foreground) !important;
}

header nav {
  background-color: var(--color-secondary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

header nav ul li a {
  color: var(--color-card-foreground) !important;
  opacity: 0.7;
}

header nav ul li a:hover {
  opacity: 1;
}

main {
  margin-top: 84px;
}

.card {
  background-image: radial-gradient(circle at 0 0, #ffffff14, #0000 50%);
  background-color: color-mix(
    in oklab,
    var(--color-card) 95%,
    transparent
  ) !important;
}

@media (min-width: 40rem) {
  .card {
    padding: calc(var(--spacing) * 8);
    border-radius: var(--radius-2xl) !important;
  }
}

.bg-card {
  background-color: var(--color-card);
}

.bg-card\/90 {
  background-color: color-mix(in oklab, var(--color-card) 90%, transparent);
}

.bg-muted\/40 {
  background-color: color-mix(in oklab, var(--color-muted) 40%, transparent);
}

.hover\:bg-muted:hover {
  background-color: var(--color-muted);
}

.img-zoom {
  overflow: hidden;
  width: 80px;
  text-align: center;
}

.img-zoom img {
  transition: transform 0.4s ease;
  width: 70px;
}

div:has(.img-zoom):hover > .img-zoom img {
  transform: scale(1.2);
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(var(--blur-sm));
  backdrop-filter: var(--tw-backdrop-blur);
}

.rounded-full {
  border-radius: 3.40282e38px;
}

.rounded-xl {
  border-radius: calc(var(--radius) + 4px);
}

.new-card {
  height: 200px;
  width: 100%;
}

.new-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: calc(var(--radius) + 4px);
  border-top-right-radius: calc(var(--radius) + 4px);
}

.new-date {
  bottom: 8px;
  right: 8px;
  background-color: var(--color-muted);
  color: var(--color-slate-300);
  padding: 4px 8px;
  border-radius: var(--radius);
  font-size: 0.75rem;
}

.new-desc {
  background-color: #1c2b4f3d;
  border-bottom-left-radius: calc(var(--radius) + 4px);
  border-bottom-right-radius: calc(var(--radius) + 4px);
}

.hover\:-translate-y-1:hover {
  --tw-translate-y: calc(var(--spacing) * -1);
  translate: var(--tw-translate-x) var(--tw-translate-y);
}

.duration-300 {
  --tw-duration: 0.3s;
  transition-duration: 0.3s;
}
